[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pipreqs = "*"
blackduck = "*"
ansible-lint = "*"
docker = "*"
boto3 = "*"
conan = "*"
python-gnupg = "*"
pytest = "*"
yamllint = "*"
twine = "*"
python-dotenv = "*"
isort = "*"
wheel = "*"

[packages]
requests = "*"
colorama = "*"
pydantic = "~=1.10.0"
packaging = "*"
argcomplete = "*"
GitPython = "*"
pyyaml = "*"
toml = "*"
overrides = "*"
# python 3.8 compatibility
networkx = "~=3.1"
keyring = "*"
"keyrings.cryptfile" = "*"

[requires]
python_version = "3"
